html, body {
  margin: 0;
  padding: 0;
}

#main-canvas {
  background: #003366; /* Old browsers */
  background: -moz-linear-gradient(top,  #003366 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003366), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #003366 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #003366 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #003366 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #003366 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}