<div id="login-container" class="border-one">
  <div class="heading">
    <i class="fa fa-sign-in"></i> Authorize
  </div>
  <div class="body border-two">
    <form class="trans" name="login_form" data-ng-submit="login(access)">
      <div class="error" data-ng-if="error">
        <i class="fa fa-warning"></i>
        <span data-ng-bind="error"></span>
      </div>
      <div class="row">
        <input name="username" type="text" data-ng-model="access.username" placeholder="Username" data-focus="$root.loginPrompt" />
      </div>
      <div class="row">
        <input name="password" type="password" data-ng-model="access.password" placeholder="Password" />
      </div>
      <div class="footer">
        <button tabindex="-1" data-ng-click="$root.loginPrompt = false">
          <i class="fa fa-times stop"></i>
        </button>
        <button type="submit" data-ng-disabled="!access.username || !access.password">
          <i class="go fa fa-check-square-o" data-ng-class="{'fa-circle-o-notch fa-spin': authenticating}"></i>
        </button>
      </div>
    </form>
  </div>
</div>